<div class="boxMenu">
  <a href="/account/details" class="box-a">
    <i class="fa fa-user-circle" aria-hidden="true"></i>
    <p>Account</p>
  </a>
  <a href="/cart" class="box-a">
    <i class="fa fa-cart-plus" aria-hidden="true"></i>
    <p>Cart</p>
  </a>
  <a  href="/account/details/invoice" class="box-a">
    <i class="fa fa-cart-plus" aria-hidden="true"></i>
     <p>Invoices</p>
  </a>
  <a href="/account/details/address" class="box-a">
    <i class="fa fa-compass" aria-hidden="true"></i>
    <p>Address</p>
  </a>
  <a href="/account/details/logout" class="box-a">
    <i class="fa fa-arrow-circle-left" aria-hidden="true"></i>
    <p>Sign Out</p>
  </a>
</div>