<div class="footer">
  <div class="container">
    <div class="row">
      <div class="footer-col-1">
        <h3>Dowload Our App</h3>
        <p>Dowload App for Android and IOS mobile phone</p>
        <div class="app-logo">
          <img src="/static/image/play-store.png" alt="CH play">
          <img src="/static/image/app-store.png" alt="AppStore">
        </div>
      </div>

      <div class="footer-col-2">
        <img src="/static/image/Logo-black.png" alt="">
        <p>Best of the Best</p>
      </div>

      <div class="footer-col-3">
        <h3>Useful Links</h3>
        <ul>
          <li>Coupons</li>
          <li>Blog Post</li>
          <li>Return Policy</li>
          <li>Join Discord Server</li>
        </ul>
      </div>

      <div class="footer-col-4">
        <h3>Follow us</h3>
        <ul>
          <li>Facebook</li>
          <li>Instagram</li>
          <li>Twitter</li>
          <li>Youtube</li>
        </ul>
      </div>
    </div>
    <hr>
    <p class="copyright">Copyright &copy;
      <br>Use for study only
      <br>Belong to Le Hoang Son
    </p>
  </div>
</div>