<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layouts/head.ejs'); -%>
</head>

<body>

    <div class="container">
        <%- include('layouts/navbar.ejs'); -%>
    </div>

    <div class="medium-container">
        <h1>Connect With Us</h1>
        <p>We would love to respond to your queries and help you.
            <br> Feel free to get in touch with us.</p>

        <div class="contact-box">
            <div class="contact-left">
                <h3>Sent your request</h3>

                <form action="/contact" method="POST">
                    <div class="input-row">
                        <div class="input-group">
                            <label>Name</label>
                            <input type="text" name="name" placeholder="Your Name" required>
                        </div>
                        <div class="input-group">
                            <label>Phone</label>
                            <input type="text" name="phone" placeholder="Your Phone" required>
                        </div>
                    </div>

                    <div class="input-row">
                        <div class="input-group">
                            <label>Email</label>
                            <input type="email" name="email" placeholder="Your Email" required>
                        </div>
                        <div class="input-group">
                            <label>Subject</label>
                            <input type="text" name="subject" placeholder="Products" required>
                        </div>
                    </div>

                    <label>Message</label>
                    <textarea rows="5" name="message" placeholder="Your Message" required></textarea>
                    <button type="submit" class="btn">SEND</button>
                </form>

            </div>

            <div class="contact-right">
                <h3>Reach us</h3>

                <table>
                    <tr>
                        <td>Email</td>
                        <td>lehoangson2582000@gmail.com</td>
                    </tr>
                    <tr>
                        <td>Phone</td>
                        <td>0808089999</td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>Planet Earth</td>
                    </tr>
                </table>
            </div>

        </div>
    </div>

    <!----------------footer----------------->
    <%- include('layouts/footer.ejs'); -%>

    <!--------------js for toggle menu-------------->
    <script src="/static/client/js/main.js"></script>
</body>

</html>