<div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
    <form role="search">
        <div class="form-group">
            
        </div>
    </form>
    <ul class="nav menu">
        <li>
            <a href="/admin/dashboard"><svg class="glyph stroked dashboard-dial">
                    <use xlink:href="#stroked-dashboard-dial"></use>
                </svg>
                Dashboard</a>
        </li>
        <li>
            <a href="/admin/user"><svg class="glyph stroked male user">
                    <use xlink:href="#stroked-male-user" /></svg>User Management </a>
        </li>
        <li>
            <a href="/admin/category"><svg class="glyph stroked open folder">
                    <use xlink:href="#stroked-open-folder" /></svg>Category Management</a>
        </li>
        <li>
            <a href="/admin/product"><svg class="glyph stroked bag">
                    <use xlink:href="#stroked-bag"></use>
                </svg>Product Management</a>
        </li>
        <li>
            <a href="/admin/contact"><svg class="glyph stroked bag">
                    <use xlink:href="#stroked-bag"></use>
                </svg>Contact Management</a>
        </li>
        <li>
            <a href="/admin/invoice"><svg class="glyph stroked male user">
                    <use xlink:href="#stroked-male-user" /></svg>Invoice Management </a>
        </li>
    </ul>
</div>